name: Deploy to GitHub Pages

on:
  workflow_dispatch:
  pull_request:

jobs:
  deploy:
    environment:
      name: github-pages
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
      - run: npm ci
      - run: npm test
      - run: npm run build
        env:
          APIKEY: ${{ secrets.APIKEY }}
          SENDERID: ${{ secrets.SENDERID }}
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
#
